<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mre.dual_display_bridge">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

  <application>
    <service
    android:name=".services.DualScreenKeepAliveService"
    android:enabled="true"
    android:exported="false"
    android:foregroundServiceType="specialUse">
    
      <property 
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_TYPE"
        android:value="This service synchronizes the secondary panel's display engine and prevents data loss on dual-screen devices." />
    </service>
  </application>
</manifest>
